.button {
  font-family: 'Futura Std', Arial, Helvetica, sans-serif;
  font-size: 0.75rem;
  line-height: 1;
  font-weight: 500;
  font-style: normal; 
  text-align: center;
  padding: 0.875rem 2rem 0.85rem 2rem;
  letter-spacing: 0.10em;
  transition: all 0.3s ease-in-out;
  white-space: nowrap;
  &[disabled] {
    cursor: text;
    opacity: .5;
    &:hover {
      
    }
  }
  &--primary {
    @extend .button;
    background-color: transparent;
    color: black;
    border: 1px solid black;
    &:hover {
      &:not(&[disabled]) {
        background-color: black !important;
        color: white !important;
        border-color: black !important;
      }
    }
    &-reverse {
      @extend .button;
      background-color: transparent;
      border: 1px solid white;
      color:white;
      &:hover {
        &:not(&[disabled]) {
          background-color: white !important;
          color: black !important;
        }
      }
    }
  }
  &--secondary {
    @extend .button;
    background-color: var(--mp-brown);
    color: white;
    &:hover {
      &:not(&[disabled]) {
        background-color: black !important;
        color: white !important;
      }
    }
  }
  &--black { 
    @extend .button; 
    background-color: black;
    color: white;
    letter-spacing: 0.10em;
    border: 1px solid black;
    
    &:hover {
      &:not(&[disabled]) {
        background-color: transparent;
        color: black;
      }
    }
  }
  &--link {
    @extend .button;
    background-color: transparent;
    padding: 0;
    text-decoration: none;
    &:hover {
      &:not(&[disabled]) {
        text-decoration: underline;
      }
    }
  }
  &--disabled {
    @extend .button;
    background-color: black;
    color: white;
    letter-spacing: 0.10em;
    cursor: text;
    border: 1px solid transparent;
    opacity: .5;
    &:hover {
      
    }
  }
}