:root {
   --mp-cream: #F3F3EE; 
  --mp-mauve: #9E6F5E;
  --mp-brown: #A76D5A;
  --mp-grey: #7B7B7B;
  // --mp-off-white: #F6F5F3; Update beacuse MP got their images wrong color.
  --mp-coral: #fA6140;
  --mp-off-white:#f7f8f1;
  --mp-gray: #909090;
  --mp-gray-2: #707070;
  --mp-color-text-secondary: #313131;
}